.mat-tab-group {
    margin-bottom: 48px;
  }

.signup-full-width{
  width: 100%;
}

.TM20 {
  margin-top: 20px;
}

.RM5 {
  margin-right: 5px;
}

.LM5{
  margin-left: 5px;
}

.lenAdjust{
  width: 48.5%;
}

.email-container .mat-form-field + .mat-form-field {
  margin-left: 8px;
}