.full-width{
    margin-top: 15px;
    width: calc(100vh);
    height: calc(100vh-98px);
    font-size: 18px;
}

.header-text{
    font-size: 35px;
    font-weight: bolder;
    color: #616161;
    margin-top: 60px;
}

mat-divider{
    width: calc(100vh);
}