<div class="bootstrap-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        
          <h1 class="header-text">FAQ's Section</h1>

          <mat-divider></mat-divider>
      
        <div class="content-div">
          <mat-expansion-panel hideToggle class="full-width">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  This is the first question
                </mat-panel-title>
              </mat-expansion-panel-header>
              <p>This is answer to the question</p>
            </mat-expansion-panel>
            
            <mat-expansion-panel hideToggle class="full-width">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  This is the second question
                </mat-panel-title>
              </mat-expansion-panel-header>
              <p>This is answer to the question</p>
            </mat-expansion-panel>
            
            <mat-expansion-panel hideToggle class="full-width">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  This is the third question
                </mat-panel-title>
              </mat-expansion-panel-header>
              <p>This is answer to the question</p>
          </mat-expansion-panel>
      </div>
      </div>
    </div>
  </div>
</div>