<div class="bootstrap-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-md-8 offset-md-2">
          
            <h1 class="header-text">Book Your Ticket</h1>
  
            <mat-divider></mat-divider>
        
          <div class="content-div">
            <h4>Basic mat-select</h4>
            <mat-form-field appearance="fill">
              <mat-label>Departures</mat-label>
              <mat-select name="departure" id="departure" [(ngModel)]="departure">
                <mat-option *ngFor="let departure of departures" [value]="departure">
                  {{departure}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </div>
    </div>
  </div>